<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.actionworks.flashsale.persistence.mapper.FlashItemMapper">
    <sql id="ALL_COLUMNS">
        id,
        activity_id,
        item_title,
        item_sub_title,
        item_desc,
        initial_stock,
        available_stock,
        original_price,
        flash_price,
        start_time,
        end_time,
        status,
        warm_up,
        modified_time,
        create_time
    </sql>

    <sql id="listByQueryCondition">
        select <include refid="ALL_COLUMNS"></include>
        from flash_item
        <where>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="itemTitle != null">
                and item_title = #{itemTitle}
            </if>
            <if test="itemSubTitle != null">
                and item_sub_title = #{itemSubTitle}
            </if>
            <if test="startTime != null">
                and start_time &lt;= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time >= #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="warmUp != null">
                and warm_up = #{warmUp}
            </if>
        </where>
        order by create_time desc
    </sql>

    <select id="listByQueryCondition" resultType="com.actionworks.flashsale.persistence.model.FlashItemDO">
        <include refid="listByQueryCondition"></include>
        limit #{offset}, #{pageSize}
    </select>

    <select id="listByQueryConditionWithoutPageSize" resultType="com.actionworks.flashsale.persistence.model.FlashItemDO">
        <include refid="listByQueryCondition"></include>
    </select>

    <select id="countByQueryCondition" resultType="java.lang.Integer">
        select count(*)
        from flash_item
        <where>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="itemTitle != null">
                and item_title = #{itemTitle}
            </if>
            <if test="itemSubTitle != null">
                and item_sub_title = #{itemSubTitle}
            </if>
            <if test="startTime != null">
                and start_time &lt;= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time >= #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>

    <update id="decreaseItemStock">
        update flash_item
        set available_stock = available_stock - #{quantity}
        where id = #{itemId} and available_stock >= #{quantity}
    </update>
</mapper>