<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.actionworks.flashsale.infrastructure.persistence.mapper.StockMapper">
    <sql id="ALL_COLUMNS">
        id,
        code,
        initial_stock,
        available_stock,
        modified_time,
        create_time
    </sql>

    <update id="deduct">
        update stock
        set available_stock = available_stock - #{quantity},
            modified_time   = now()
        where code = #{code}
          and available_stock >= #{quantity}
    </update>

</mapper>